# POSTGRES
POSTGRES_USER=<YOUR_POSTGRES_USERNAME>
POSTGRES_PASSWORD=<YOUR_POSTGRES_PASSWORD>

# MINIO (LAKE HOUSE)
MINIO_ROOT_USER=<YOUR_MINIO_USERNAME>
MINIO_ROOT_PASSWORD=<YOUR_MINIO_PASSWORD>

# AIRFLOW SECRETS
AIRFLOW_DB_USER=<YOUR_AIRFLOW_DB_USERNAME>
AIRFLOW_DB_PASSWORD=<YOUR_AIRFLOW_DB_PASSWORD>

AIRFLOW_WEB_USER=<YOUR_AIRFLOW_WEB_USERNAME>
AIRFLOW_WEB_PASSWORD=<YOUR_AIRFLOW_WEB_PASSWORD>

# GRAFANA SECRETS
GRAFANA_ADMIN_USER=<YOUR_GRAFANA_USERNAME>
GRAFANA_ADMIN_PASSWORD=<YOUR_GRAFANA_PASSWORD>
